@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

.main-container {
  @apply max-w-[1220px] mx-auto py-4 px-3 md:px-4 lg:px-8;
}

.btn-primary {
  @apply flex items-center bg-primary font-medium px-6 py-3 rounded-md text-black-text hover:bg-black-text hover:text-white transition delay-100 duration-300 ease-in-out;
}

.delay-hover {
  @apply ease-in duration-300;
}

.header-search-select .css-13cymwt-control {
  border-radius: 0 !important;
  height: 42px;
  border: 0 !important;
}

.header-search-select .css-t3ipsp-control {
  border-radius: 0px !important;
  height: 42px !important;
  border: 0 !important;
  /* color: #036280; */
}

.custom-drop-shadow {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.range-slider__thumb {
  background-color: #ffffff !important;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
  height: 16px !important;
  width: 16px !important;
}

.range-slider {
  height: 5px !important;
}

.range-slider .range-slider__range {
  background-color: #ffbb38 !important;
}

p {
  margin: 0;
  padding: 0;
}

.second-children:hover .third-children {
  display: block !important;
}
.first-item:hover .first-children {
  display: block !important;
}

#checkout_shipping,
#checkout_pickup {
  width: 18px;
  height: 18px;
  accent-color: black;
}

.menu-navigation li {
  display: block;
  font-size: small;
  margin: 4px 0px;
  color: #4eadb8;
}

.menu-navigation li:hover {
  /* color: #facc15; */
  text-decoration: underline;
  cursor: pointer;
}

.css-dip3t8 {
  background: transparent !important;
}

.css-1wvake5 {
  border: 0 !important;
  outline: 0 !important;
}

.container-min-height {
  @apply min-h-[calc(100vh-250px)];
}
.light-border-common {
  @apply border border-border-light rounded-md overflow-hidden;
}

.product-card-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  content: "prev" !important;
  background: black !important;
  font-size: 20px !important;
  padding: 10px 13px !important;
  border-radius: 50% !important;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  padding: 10px 13px !important;
  content: "next" !important;
  font-size: 20px !important;
  background: black !important;
  color: #036280 !important;
  border-radius: 50% !important;
}

.loader {
  width: 200px;
  height: 200px;
  display: inline-block;
  position: relative;
}
.loader::after,
.loader::before {
  content: "";
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 2px solid #036280;
  position: absolute;
  left: 0;
  top: 0;
  animation: animloader 2s linear infinite;
}
.loader::after {
  animation-delay: 1s;
}

@keyframes animloader {
  0% {
    transform: scale(0);
    opacity: 3;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}
